



body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);

}
main{
    width: 30em;
    background-color: hsl(212, 25%, 15%);
    border-radius: 1.5em;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    color: hsl(0, 0%, 74%);
    margin: 1em ;

    
}
span{
padding: 0em 2em 0em 0em;
border: 2px solid hsl(219, 76%, 50%);


}
button{
    text-decoration:none;
    background-color: hsl(219, 76%, 50%);
    border:none;
    color: hsl(0, 0%, 74%);
    margin: 2em 1em;
    padding: 0.5em 2.5em;
    border-radius:1em;

}
#button-holder{
 display: flex;
 justify-content: center;
 align-items: center


}
button:hover{
    color:hsl(219, 76%, 50%);
    background-color:  hsl(0, 0%, 74%);
}
h1{
    color: hsl(0, 0%, 74%);
    text-decoration-line: underline;
}